<div>
  <h1 class="font-bold text-4xl">User</h1>

  <div class="my-3 border rounded-md p-2 border-gray-300">
    <p class="text-2xl m-1">
      <label class="text-gray-500">Name:</label>&nbsp;
      <span class="font-bold"><%= @user.name %></span>
    </p>

    <p class="text-2xl m-1">
      <label class="text-gray-500">Last name:</label>&nbsp;
      <span class="font-bold"><%= @user.last_name %></span>
    </p>

    <p class="text-2xl m-1">
      <label class="text-gray-500">Email:</label>&nbsp;
      <span class="font-bold"><%= @user.email %></span>
    </p>
  </div>
</div>
