<div>
  <h1 class="font-bold text-4xl">Client</h1>

  <div class="my-4 border rounded-md p-2 border-gray-300">
    <p class="text-2xl">
      <label class="text-gray-500">Name:</label>&nbsp;
      <span class="font-bold"><%= @client.name %></span>
    </p>
    <p class="text-2xl">
      <label class="text-gray-500">Last name:</label>&nbsp;
      <span class="font-bold"><%= @client.last_name %></span>
    </p>
    <p class="text-2xl">
      <label class="text-gray-500">Email:</label>&nbsp;
      <span class="font-bold"><%= @client.email %></span>
    </p>
    <p class="text-2xl">
      <label class="text-gray-500">Phone number:</label>&nbsp;
      <span class="font-bold"><%= @client.phone_number %></span>
    </p>
  </div>
</div>
